/* Box-sizing border-box and remove margin and padding reset */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
$primary-color: #333;
/* Set base font size and line height */
body {
    font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: 1em;
    line-height: 1.5;
}

/* Remove list styles (bullet points and numbering) */
ul,
ol {
    list-style: none;
}

/* Remove default styles for links */
a {
    text-decoration: none;
    color: inherit;
}

/* Remove default styles for form elements */
button,
input,
select,
textarea {
    margin: 0;
    font-size: 100%;
    vertical-align: baseline;
}

/* Standardize default display for some elements */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section,
summary {
    display: block;
}

/* Responsive images */
img {
    max-width: 100%;
    height: auto;
}

/* Remove default table spacing */
table {
    border-collapse: collapse;
    border-spacing: 0;
}